 /* COLOR THEME */
 :root {
  --primary: #ffffff;
  --secondary: #222222;
  --accent: #058073;
  --accent-dark: #34942;
  
  font-family: gill sans, sans-serif;
}
 
 /* Website Layout */
 
 *{
	box-sizing: border-box;
}

body{
	margin: 0;
}

.flexRow{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;	
}
 
 /* COMMON MARKUP */
  
 [class*=text-] {
	color: var(--secondary);
	font-weight: 100;
	font-size: 18px;
 }
 
 [class*=-bright]{
	 color: var(--primary);
 }
 
 [class*=-bold]{
	 font-weight: 600;
 }
  
  [class*=-big]{
	 font-size: 30px;
 }