 /* COLOR THEME */
 :root {
  --primary: #ffffff;
  --secondary: #222222;
  --accent: #058073;
  --accent-dark: #34942;
  
  font-family: gill sans, sans-serif;
}
 
 /* Website Layout */
 
 *{
	box-sizing: border-box;
}

body{
	margin: 0;
}

[class*=flexRow]{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
}

 [class*=-wrap]{
	flex-wrap: wrap;
 }
 
 .divLink{
	 position: relative;
 }
 
 .link{
	 position:absolute; 
	 width: 100%; 
	 height: 100%;
 }
 
 /* COMMON MARKUP */
  
 [class*=text] {
	color: var(--secondary);
	font-weight: 100;
	font-size: 18px;
 }
 
 [class*=-bright]{
	 color: var(--primary);
 }
 
 [class*=-bold]{
	 font-weight: 600;
 }
  
 [class*=-big]{
	 font-size: 30px;
 }
 
 [class*=-subscript]{
	 margin: 10px 0 0 10px;
 }
 
 .image{
 	background-image: url("assets/images/placeholder.png");
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
 }