:host {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vh;
  height: 70vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

#card {
  width: 100%;

  padding: 5vh 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  text-align: center;

  color: var(--primary);
}

:host:hover > #card {
  background-color: var(--secondary);
  padding-bottom: 8vh;
}
