:host{
    display: flex;
    flex-flow: column nowrap;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    color: var(--secondary-dark);
}

img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  border-radius: 50%;
  border: 7px solid var(--secondary);
}

#description{
    width: 80vw;
}

@media only screen and (min-width: 768px) {
  :host {
    flex-flow: row nowrap;
  }

  #description {
    width: 50vw;
  }

  img {
    width: 15vw;
    height: 15vw;
  }
}
