<img src="/assets/images/face.jpg"/>
<div id="description">
  <p class="text-screamer-bold">About me</p>
  <p class="text">
  After finishing a masters degree in engineering (ICT), I decided to continue my studies in an industry that combined many of my hobbies and interests: the game industry.
    I've always had a facination with programming and combined with my passion for drawing, game development seemed like a logical choice. <br/><br/>
    On top of that, I love reading books, watching movies and getting absorbed into the stories they tell. After playing 'Life Is Strange' for the first time
    and realising games are just interractive stories, the pursuit of creating games was etched into my brain and cannot be erased again.
  </p>
</div>
