:host {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--overlay-dark);
  color: var(--secondary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  white-space: pre-line;
}

#modal {
  width: 80%;
  height: 80%;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--primary);
}

#gallery{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
    flex-grow: 2;

    width: 100%;
    height: 40%;
}

  #gallery > div {
    display: flex;
    height: 100%;
    padding-bottom: 50px;
    flex-direction: row;
    align-items: flex-end;
  }

#leftArrow {
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), var(--overlay));
  line-height: 32vh;
  padding-left: 10px;
}

  #leftArrow:hover {
    cursor: pointer;
    filter: brightness(50%);
  }

#rightArrow {
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), var(--overlay));
  line-height: 32vh;
  padding-right: 10px;
}

  #rightArrow:hover {
    cursor: pointer;
    filter: brightness(50%);
  }

#description-wrapper {
  width: 100%;
  height: 60%;
}


#description {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-items: flex-end;
  padding: 50px 15px;
}

#links img {
  width: 40px;
  height: 40px;
}

  #links img:hover {
    cursor: pointer;
    filter: invert() brightness(25%);
  }

#links {
  padding-top:20px;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: flex-end;
}

@media only screen and (min-width: 768px) {
  #modal {
    flex-flow: row nowrap;
  }

    #modal > div {
      width: 35%;
      height: 100%;
    }

  #description {
    padding: 50px;
  }

  #leftArrow {
    line-height: 80vh;
  }

  #rightArrow {
    line-height: 80vh;
  }
}
