<div id="modal" (click)="$event.stopPropagation()">
  <div id="gallery" [style.background-image]="'url(/assets/images/projects/' + project.title + '/' + project.images[galleryIndex] + ')'">
    <p class="text-screamer-bold" id="leftArrow" (click)="ChangeIndex(-1)">◀</p>
    <div>
      <div *ngFor="let image of project.images; let imageIndex = index">
        <p *ngIf="imageIndex != galleryIndex" class="text-screamer">○</p>
        <p *ngIf="imageIndex == galleryIndex" class="text-screamer">●</p>
      </div>
    </div>
    <p class="text-screamer-bold" id="rightArrow" (click)="ChangeIndex(1)">▶</p>
  </div>

  <div id="description-wrapper">
    <div id="description">
      <p class="text-screamer-bold">{{project.title.replaceAll('_', ' ') | uppercase}}</p>
      <p class="text-title-bold">{{project.tagline}}</p>
      <p class="text" id="text-block">{{project.description}}</p>

      <div id="links" *ngIf="project.links.length > 0">
        <a *ngFor="let link of project.links" href="{{link.link}}" target="_blank"><img src="/assets/images/links/{{link.site}}.png"></a>
      </div>

    </div>
  </div>

</div>
