@import '~reset.css';

/* Variables */
:root {
  --primary: #FFFFFF;
  --secondary: #1F5A73;
  --secondary-dark: #0F2F3D;
  --overlay: rgba(0,0,0,0.47);
  --overlay-dark: rgba(0,0,0,0.70);
  --disabled: #c0bcbc
}

/* Text styles */
[class*=text] {
  font-family: Courier;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
}

[class*=-bold] {
  font-weight: 700;
}

[class*=-title] {
  font-size: 18px;
}

[class*=-screamer] {
  font-size: 24px;
}

@media only screen and (min-width: 768px) {
  [class*=text] {
    font-size: 18px;
  }

  [class*=-title] {
    font-size: 24px;
  }

  [class*=-screamer] {
    font-size: 30px;
  }
}

/* Prevent selections */
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--disabled);
  border-radius: 5px;
}

  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
  }

::-webkit-scrollbar-button{
    background: transparent;
}
